<ul>
  <li>
    <a href="https://medium.com/data-science/a-comprehensive-overview-of-gaussian-splatting-e7d570081362">A Comprehensive Overview of Gaussian Splatting</a>
    &mdash; #1 trending on Medium, December 2023
  </li>
  <li>
    <a href="https://medium.com/@katefeingold/vision-transformer-vit-under-the-magnifying-glass-part-1-70be8d6661a7">Vision Transformer (ViT) Under the Magnifying Glass</a>
  </li>
</ul>
