<ul>
  <li>
    "Leveraging Text-To-Image Diffusion Models for Consistent Set-to-Set Generation"<br>
    <em>Amazon Prime Video Sports Reading Group</em>, January 2026
  </li>
  <li>
    "Leveraging Text-To-Image Diffusion Models for Consistent Set-to-Set Generation"<br>
    <em>AI Center General Meeting, Weizmann Institute of Science</em>, April 2026
  </li>
</ul>
